body {
  background-color: #e1e1e2;
}

.app__left {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header__dropdown {
  background-color: white;
}

@media only screen and (max-width: 700px) {
  .app__left {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
